body {
  display: flex;
}

#container {
  width: 480px;
  height: 480px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px;
  border-style: solid;
}